name: "Run linters against codebase"
on:
  push:
    branches:
    - main
  pull_request:
permissions:
  contents: read
jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - run: mkdir -p frontend/build && touch frontend/build/placeholder.txt # TODO: Try to fix this properly
      - run: go mod download
      - run: go fmt ./...
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: 1.49.0
          skip-cache: true
          skip-pkg-cache: true
