name: Run linters against codebase
on:
  push:
    branches:
    - main
  pull_request:
permissions:
  contents: read
jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.23
      - run: mkdir -p frontend/dist && touch frontend/dist/.gitkeep
      - run: go mod download
      - run: go fmt ./...
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.62.6
          skip-cache: true