name: "Run tests"
on:
  push:
    branches:
    - main
  pull_request:
permissions:
  contents: read
jobs:
  lint:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.19
      - run: mkdir -p frontend/build && touch frontend/build/placeholder.txt # TODO: Try to fix this properly
      - run: go mod download
      - run: go test ./...
